body {
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  background-color: #fff;
  color: #222;
    margin: 0;
  padding: 0;
  width: 100%;

}

.site-header {
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.75rem 0.5rem;

  width: 100%;
  box-sizing: border-box;
  margin: 0;
  position: relative;
}



.logo {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 1.75rem;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
}


main {
  padding: 2rem 3rem;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1em;
  background-color: black;
  height: 30px;
}

.nav-right {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 0;
  padding: 0;
}

.cart-icon-img {
  padding-right: 0;
  width: 48px;
  height: auto;
  filter: brightness(100);
  transition: transform 0.2s ease;
}

.cart-icon-img:hover {
  transform: scale(1.1);
}
