{% extends "base.html" %}
{% load static %}

{% block title %}{{ product.name }} | Vintage Memère{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'myapp/css/product_detail.css' %}">
{% endblock %}

{% block content %}
<div class="product-page-container">
  <!-- Left side: Images -->
 <div class="product-images-container">
  <div class="main-image-and-thumbs">
    <img id="mainProductImage" src="{{ product.images.first.image.url }}" class="main-product-img">

    <div class="thumbnail-row">
      {% for image in product.images.all %}
        <img src="{{ image.image.url }}" class="thumbnail-img" onclick="changeMainImage(this)">
      {% endfor %}
    </div>
  </div>

  <div class="product-info-container">
    <h1 class="product-name">{{ product.name }}</h1>
    <p class="product-price">${{ product.price }}</p>
    <p class="product-description">{{ product.description }}</p>
    <!-- Buy Now Button -->
        <form action="{% url 'checkout' product.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="buy-now-btn">Buy Now</button>
        </form>
    </div>
</div>
  </div>
</div>

</div>

<script>
  function changeMainImage(thumbnail) {
    document.getElementById("mainProductImage").src = thumbnail.src;
  }
</script>
{% endblock %}
